.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  animation: fadeIn 0.8s ease-in-out;
}

.hero span {
  background: linear-gradient(to right, #38bdf8, #0ea5e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

button {
  padding: 14px 26px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #38bdf8, #0ea5e9);
  cursor: pointer;
}

button.outline {
  background: transparent;
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

button:hover {
  transform: translateY(-3px);
  transition: 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
